<body>
<div class="chat_window">

  <div class="top_menu">
    <div class="buttons">
      <div class="button close"></div>
      <div class="button minimize"></div>
      <div class="button maximize"></div>
    </div>
    <div class="title">
      Sala de espera : {{roomId}}
    </div>
  </div>
  <ul class="messages">
    <li class="message right" *ngFor="let mensagem of listaMensagens">
      <div class="avatar">{{mensagem.user.substr(1,1)}}</div>
      <div class="text_wrapper">
        <div class="text">{{mensagem.user}} : {{mensagem.mensagem}}</div>
      </div>
    </li>
  </ul>
  <div class="bottom_wrapper clearfix">
    <div class="message_input_wrapper">
      <input class="message_input" placeholder="Digite aqui sua mensagem..." [(ngModel)]="messageInput"  />
    </div>
    <div class="send_message" (click)="sendMessage()">
      <div class="icon"></div>
      <div class="text" >Enviar</div>
    </div>
  </div>
</div>


</body>
