<div class="board-container">
  <div class="board">
    <div class="cell" *ngFor="let cell of cells; let i = index">
      <span class="cell-number">{{ i + 1 }}</span>
      <div class="players-container">
        <ng-container *ngFor="let player of players">
          <div class="player" *ngIf="player.posicao === i" [ngStyle]="{'background-color': player.color}" title="{{ player.aluno.nome }}"></div>
        </ng-container>
      </div>
    </div>
    <div class="logo-container">
      <img src="assets/logo_tis.png" alt="Logo" class="logo">
      <button mat-button class="action-button" (click)="onButtonClick()">Proxima pergunta</button>
    </div>
  </div>
</div>
