<div class="login-form-flex">
    <mat-card>
        <mat-card-content>
        <mat-card-title>
            Criar Sala
        </mat-card-title>

                <app-input [nomeCampo]="'Código da sala'"></app-input>
                <app-select [options]="gruposPerguntas"
                            [nomePropriedade]="'Grupo de perguntas'">

                </app-select>

            <div class="button-flex-container">
                <app-button [texto]="'Criar'"></app-button>
            </div>
            </mat-card-content>
    </mat-card>
</div>
