.mat-progress-spinner circle, .mat-spinner circle {
  stroke: red !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: black !important;
}


:host {
  display: block;
  height: 100vh;
  width: 100vw;
  //background: url('kissing.jpg') no-repeat center center fixed;
  background-size: cover;
}
